<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Best Store</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<div class="container">
    <div class="rounded-pill">
        <h2 class="mb-4 text-center"></h2>
        <hr>
        <a href="/" class="btn btn-link">Back To Home</a>
    </div>
</div>
<script th:src="@{webjars/bootstrap/css/bootstrap.min.js}"></script>
</body>

</html>